mixin listEntry(entry)
  .minor
    a.image.fit( href=entry.website )
      +resizedimage(entry.picture || placeholder(), 217, 145)
    
  .major
    h4
      a( href=entry.website )= entry.name
        if entry.keywords
            for word in entry.keywords
              .badge= word
    block
        
    if entry.resources
      ul.resources
        for item in entry.resources
          li
            a( href=item.url )
              +icon( item.type.toLowerCase() )
              if item.type.toLowerCase() == 'award'
                b= item.name
              else
                = item.name
      
mixin contentSection(section)
    case section.type.toLowerCase()
      when 'break'
        hr
          
      when 'chapter'
        section
          if section.picture
            a.image.centered( href=section.url )
              +image(section.picture)
          header
            h3= section.title
          p!= md(section.text)
      
      when 'profile'
        - let network = section.network.toLowerCase()
        - let profile = _.find(site.basics.profiles, p => p.network.toLowerCase() == network)
        
        if profile
          footer
            a.button( href=profile.url )
              +icon(network)
              ='More on ' + profile.network

      when 'publications'
        section.row.gtr-50
          for article in site.publications
            +listEntry(article)
              .line
                if article.summary
                  = article.summary + ', '
                = article.publisher
              .line
                if article.releaseDate
                  i= 'Published ' + moment(article.releaseDate, 'MMMM YYYY')
                else
                  i= 'TBA'
                
      when 'projects'
        section.row.gtr-50
          - let filter = section.filter.toLowerCase()
          - let filtered = _.filter(site.projects, p => p.type.toLowerCase() == filter)
          
          for project in filtered
            +listEntry(project)
              if project.organization
                .line= project.organization
              if project.summary
                .line!= md(project.summary)
              if project.startDate
                .line
                  i
                    +period(project.startDate, project.endDate)

.wrapper.style1
  .container
    .row.gtr-200
      - let sidebar = _.some(page.content || [], s => s.secondary)
      
      #content.col-12-mobile( class=sidebar && 'col-8' || 'col-12' )
        article.special
          header
            h2
              a(href= '/' + page.id)!= md(page.title)
            p!= md(page.summary)
            
          if page.banner
            a.image.featured(href='#')   
              +image(page.banner)

          if page.details
            p!= md(page.details)
          
          if page.content
            for section in page.content
              if !section.secondary
                +contentSection(section)
                              
      if sidebar
        #sidebar.col-4.col-12-mobile
          article
            hr
            for section in page.content
              if section.secondary
                +contentSection(section)
