mixin listEntry(entry)
  .col-2
    a.image.fit( href=entry.website )
      +image( entry.picture || 'images/pic01.jpg' )
    
  .col-10
    h4
      a( href=entry.website )= entry.name
        if entry.keywords
            for word in entry.keywords
              .badge= word
    block
        
    if entry.resources
      ul.resources
        for item in entry.resources
          li
            a( href=item.url )
              +icon( item.type.toLowerCase() )
              = item.name
              

.wrapper.style1
  .container
    article#main.special
      header
        h2
          a(href= '/' + page.id)!= md(page.title)
        p!= md(page.summary)
        
      if page.picture
        a.image.featured(href='#')   
          +image(page.picture)

      if page.details
        p!= md(page.details)
      
      if page.content
        for section in page.content
          section
            case section.type
              when 'chapter'
                header
                  h3= section.title
                p!= md(section.text)
  
              when 'publications'
                .row.gtr-50
                  for article in site.publications
                    +listEntry(article)
                      .line
                        if article.summary
                          = article.summary + ', '
                        = article.publisher
                      .line
                        i= 'Published ' + dateformat(article.releaseDate, 'mmmm yyyy')
                        
              when 'projects'
                .row.gtr-50
                  for project in _.filter(site.projects, p => p.type == section.filter)
                    +listEntry(project)
                      if project.organization
                        .line= project.organization
                      if project.summary
                        .line!= md(project.summary)
                      .line
                        i= dateformat(project.startDate, 'mmmm yyyy') + ' - ' + dateformat(project.endDate, 'mmmm yyyy')
